{% load static %}

<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="
        {% static 'styles/base_styles.css' %}">

        {% block head %}{% endblock %}

        <link href="https://fonts.googleapis.com/css2?
        family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">
    </head>
    <body>

    <!-- HEADER ------------------------------------------->
        <div class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="/" class="header__logo">INTER</a>

                    <nav class="nav">
                        <a href="#home" class="nav__item">Home</a>
                        <a href="#about" class="nav__item">About</a>
                        <a href="#skills" class="nav__item">Skills</a>
                        <a href="#education" class="nav__item">Education</a>
                        <a href="#contact" class="nav__item">Contact</a>
                    </nav>

                    {% if not user.is_authenticated %}
                        <span class="span_nav_sign">
                            <a class="nav_sign" href="{% url "onboarding:sign-in" %}">Log In</a>
                            <span style="color: white; font-weight: bold"> | </span>
                            <a class="nav_sign" href="{% url "onboarding:sign-up" %}">Sign Up</a>
                        </span>
                    {% else %}
                        <a class="header__user" href="/profile/{{ user.profile.id }}">{{ user.username }} | {{ user.email }}</a>
                        <span class="span_nav_sign">
                            <a class="nav_sign" href="{% url "onboarding:sign-out" %}">Sign Out</a>
                        </span>
                    {% endif %}

                </div>
            </div>
        </div><!-- END HEADER ---------------------------------->

        {% block body %}{% endblock %}

    </body>
    </html>
