{% load static %}

<!DOCTYPE html>
    <html>
    <head lang="ru">

        <meta charset="utf-8">

        <link rel="stylesheet" href="
        {% static 'styles/base_styles.css' %}">

        {% block head %}{% endblock %}

        <link href="https://fonts.googleapis.com/css2?
        family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">
    </head>
    <body>

    <!-- HEADER ------------------------------------------->
        <div class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="/" class="header__logo">INTER</a>

                    <nav class="nav">
                        <a href="{% url "main:index" %}" class="nav__item">About</a>
                        {% if user.is_authenticated and user.profile %}
                            <a href="{% url "profile:contactList" user.profile.pk %}" class="nav__item">Contacts</a>

                            <a href="{% url "smart:matchList" user.profile.pk %}" class="nav__item">Matches</a>
                            <a href="{% url "chat:messenger" %}" class="nav__item">Messenger</a>
                        {% endif %}
                    </nav>


                    {% if user.is_authenticated and user.profile %}
                        <a class="header__user" href="{% url "profile:profile" user.profile.id %}">{{ user.username }}</a>
                    {% elif user.is_authenticated %}
                        <a class="header__user" href="{% url "profile:profile_create" %}">create profile</a>
                    {% endif %}

                    {% if not user.is_authenticated %}
                        <span class="span_nav_sign">
                            <a class="nav_sign" href="{% url "onboarding:sign-in" %}">Log In</a>
                            <span style="color: white; font-weight: bold"> | </span>
                            <a class="nav_sign" href="{% url "onboarding:sign-up" %}">Sign Up</a>
                        </span>
                    {% else %}
                        <span class="span_nav_sign">
                            <a class="nav_sign" href="{% url "onboarding:sign-out" %}">Sign Out</a>
                        </span>
                    {% endif %}

                </div>
            </div>
        </div><!-- END HEADER ---------------------------------->

        {% block body %}{% endblock %}

    </body>
    </html>
