{% extends "chat/_base_messenger.html" %}
{% load static %}

{% block head %}
<title>profile page</title>

<link type="image/x-icon" rel="shortcut icon" href="
        {% static "icons/favicon.ico" %}">

<link rel="stylesheet" href="
    {% static "chat/styles/chat_styles.css" %}">
<link rel="stylesheet" href="
        {% static "profile/styles/profile_styles.css" %}">


<link href="https://fonts.googleapis.com/css2?
        family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">

<script src="{% static "profile/js/profile.js" %}"></script>

{% endblock %}


{% block container_msg %}

            <article class="profile">
                <article class="profile__avatar_container">
                    <article class="profile__avatar">
                          <img alt="avatar" src="{% static "profile/avatar/default_user.png" %}">
                    </article>
                </article>

                <article class="profile__info">
                    <article class="profile__name-rating">
                        <article class="profile__name">{{ profile.first_name }} {{ profile.last_name }}</article>
                        <img src="{% static "profile/img/on.png" %}" alt="red_star">
                        <article id="rating" onclick="openFeedbackBox()" class="profile__rating">{{ profile.get_rating }}</article>
                    </article>
                    <article class="profile__name profile__email">{{ profile.user.username }} / {{ profile.user.email }}</article>

                    {% block profile %}{% endblock %}
                </article>
            </article>



{% endblock %}
