{% extends "chat/_base_messenger.html" %}
{% load static %}

{% block head %}
<title>chat page</title>

<link type="image/x-icon" rel="shortcut icon" href="
        {% static "icons/favicon.ico" %}">

<link rel="stylesheet" href="
        {% static "chat/styles/chat_styles.css" %}">


<link href="https://fonts.googleapis.com/css2?
        family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">

<script type="text/javascript" src="{% static "profile/js/profile.js" %}"></script>

<script>
    window.onload = getReason();
</script>


{% endblock %}


{% block container_msg %}

<article class="msg_container_contact">

{% if not object.contacts.all %}
    <article class="sorry_contact_title">You don't have any contacts yet...</article>
{% else %}
{% for contact in object.contacts.all %}
<a class="contact" href="{% url "profile:profile" contact.pk %}">
    <article id="contact_back_{{ contact.pk }}" class="profile__avatar_contact">
          <img alt="avatar" src="{% static "profile/avatar/default_user.png" %}">
    </article>

    <article class="contact__info_contact">
        <article class="contact_name_contact">{{ contact.user.username }}</article>
        <article class="contact__rating-box">
            <img src="{% static "profile/img/on.png" %}">
            <article class="contact__rating">{{ contact.get_rating }}</article>
        </article>

        <article id="reason_with_{{ contact.pk }}" class="contact_button_GoToChat"></article>

    </article>
</a>
{% endfor %}
{% endif %}
</article>

{% endblock %}