{% extends "profile/_base_profile.html" %}

{% block profile %}
<article class="profile__table">
    <table>
        <tr>
            <td class="profile__table_tb1">Date of birth:</td>
            <td class="profile__table_tb2">{{ object.birth }}</td>
        </tr>
        <tr>
            <td class="profile__table_tb1">Sity:</td>
            <td class="profile__table_tb2">{{ object.sity }}</td>
        </tr>
        <tr>
            <td class="profile__table_tb1">Phone:</td>
            <td class="profile__table_tb2">{{ object.phone }}</td>
        </tr>
        <tr>
            <td class="profile__table_tb1">What help do you need:</td>
            <td class="profile__table_tb2">{{ object.needed_help }}</td>
        </tr>
        <tr>
            <td class="profile__table_tb1">What help can you provide:</td>
            <td class="profile__table_tb2">{{ object.provide_help }}</td>
        </tr>
    </table>
</article>

<article class="profile__buttons">
    <a href="{% url "update_profile" object.pk %}" class="profile__button_item">Edit Profile</a>
    <article class="profile__button_item profile__button_start">Start Working</article>
</article>
{% endblock %}