{% extends "_base.html" %}
{% load static %}

{% block head %}
<title>inter main page</title>

<link type="image/x-icon" rel="shortcut icon" href="
        {% static "icons/favicon.ico" %}">

<link rel="stylesheet" href="
        {% static 'profile/styles/profile_styles.css' %}">
<link rel="stylesheet" href="
        {% static 'profile/styles/sorry.css' %}">

<link href="https://fonts.googleapis.com/css2?
        family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">
{% endblock %}


{% block body %}

    <div class="intro_sorry">
    <div class="container">
        <div class="intro_inner">

        <h2 style="color: grey" class="intro__suptitle">Welcome to</h2>
        <h1 style="color: grey" class="intro__title">SORRY page</h1>

        <h2 style="text-align: center; color: grey">You don't have access...</h2>

        </div>
    </div>
</div>
{% endblock %}
