{% extends "profile/_base_profile.html" %}
{% load static %}


{% block profile %}
<article class="profile__table">
    <form method="post" action="{% url "profile:update" object.pk %}">
        <table>
            <tr>
                <td class="profile__table_tb1">
                    <label for="first_name">First name:</label>
                </td>
                <td class="profile__table_tb2">
                    <input id="first_name" name="first_name" value="{{ object.first_name }}">
                </td>
            </tr>

            <tr>
                <td class="profile__table_tb1">
                    <label for="last_name">Last name:</label>
                </td>
                <td class="profile__table_tb2">
                    <input id="last_name" name="last_name" value="{{ object.last_name }}">
                </td>
            </tr>

            <tr>
                <td class="profile__table_tb1">
                    <label for="sity">Sity:</label>
                </td>
                <td class="profile__table_tb2">
                    <input id="sity" name="sity" value="{{ object.sity }}">
                </td>
            </tr>

            <tr>
                <td class="profile__table_tb1">
                    <label for="phone">Phone:</label>
                </td>
                <td class="profile__table_tb2">
                    <input id="phone" name="phone" type="text" value="{{ object.phone }}">
                </td>
            </tr>

            <tr>
                <td class="profile__table_tb1">
                    <label for="input_need_help">Needed help:</label>
                </td>
                <td class="profile__table_tb2">
                    <input id="input_need_help" name="needed_help" type="text" value="{{ object.needed_help }}">
                </td>
            </tr>

            <tr>
                <td class="profile__table_tb1">
                    <label for="input_provide_help">Offer help:</label>
                </td>
                <td class="profile__table_tb2">
                    <input id="input_provide_help" name="provide_help" type="text" value="{{ object.provide_help }}">
                </td>
            </tr>

        </table>

        <article>
            <p class="profile__table_tb1 profile__about">
                <label for="input_about">About me:</label>
            </p>
            <p class="profile__table_tb2">
                <textarea id="input_about" name="about">{{ object.about }}</textarea>
            </p>
        </article>

        <article class="profile__update">
            <button id="id_profile_update_button" class="profile__button_item">Update</button>
        </article>
    </form>
</article>

{% endblock %}
