[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
colorama = "*"
httpie = "*"
ipython = "*"
isort = "*"
pudb = "*"
pytest = "*"
pytest-mock = "*"
pytest-selenium = "*"

[packages]
atomicwrites = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
delorean = "*"
dj-database-url = "*"
django = "*"
django-allauth = "*"
dynaconf = "==3.1.2"
gunicorn = "*"
pillow = "*"
psycopg2-binary = "*"
pydantic = "*"
sentry-sdk = "*"
twisted = {extras = ["http2", "tls"], version = "*"}
whitenoise = "*"

[requires]
python_version = "3.9"
