{% extends "_base.html" %}

{% load static %}

{% block head %}
<link type="image/x-icon" rel="shortcut icon" href="
          {% static "icons/favicon.ico" %}">

<link rel="stylesheet" href="
        {% static 'onboarding/styles/onboarding_styles.css' %}">
{% endblock %}

{% block body %}
<article class="intro">
    <article class="container">
        <article class="intro_inner">

        <h2 class="sign_title">Sign In</h2>

        <article class="login__container">
            <article class="social_login_buttons">
                <a class="google_login" href="/accounts/google/login/?process=login">Google</a><br>
                <a class="google_login vk_login" href="/accounts/vk/login/?process=login">VK</a><br>
                <a class="google_login telegram_login" href="/accounts/telegram/login/?process=login">Telegram</a>
                <script async src="https://telegram.org/js/telegram-widget.js?14" data-telegram-login="inter_network_bot" data-size="medium" data-radius="14" data-auth-url="/accounts/telegram/login/" data-request-access="write"></script>
            </article>

            <article class="or">or</article>

            <article class="container_form">
              <article>
                {% if form.errors %}
                  <p>Some errors</p>
                {% endif %}
                {% if next %}
                  {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                       please login with an account that has access.</p>
                  {% else %}
                    <p>Please login to see this page.</p>
                  {% endif %}
                {% endif %}
              </article>
              {% if not user.is_authenticated %}
                <article>
                  <form id="id_sign_in_form" method="post">
                    {{ form.as_p }}
                    <button id="id_sign_in_submit" type="submit">Sign In</button>
                    {% csrf_token %}
                    <input id="id_sign_in_next" name="next" type="hidden" value="{{ next }}">
                  </form>

                </article>
              {% endif %}
            </article>
        </article>

        </article>
    </article>
</article>


{% endblock %}