{% extends "_base.html" %}
{% load static %}

{% block head %}{% endblock %}

{% block body %}

<article class="intro">
    <article class="container">

        <article class="main__container main_profile_container">
            <article class="nav_menu">
                <a href="{% url "profile:my" %}" class="nav_menu__item">Мой профиль</a>
                <a href="{% url "profile:contactList" user.pk %}" class="nav_menu__item">Контакты</a>
                <a href="{% url "chat:messenger" %}" class="nav_menu__item">Мессенджер</a>
                <a href="#" class="nav_menu__item">Новости</a>
            </article>

            {% block container_msg %}{% endblock %}

        </article>
    </article>
</article>
{% endblock %}