{% extends "chat/_base_messenger.html" %}
{% load static %}


{% block container_msg %}
<script>
openMenu = function (element) {
    element.firstElementChild.classList.toggle("msg-menu-active");
}
</script>

<article class="chat_box">
    <article class="chat_header">
        <a class="back-button" href="{% url "chat:messenger" %}">< Назад</a>
        <a href="{% url "profile:profile" chat.talker.pk %}" class="chat_talker">{{ chat.talker }}</a>
    </article>

    <article id="messages" class="messages">

        {% for msg in chat.message_list %}
        <article {% if msg.author == user.profile %}onclick="openMenu(this);"{% endif %}
                 class="msg {% if msg.author == user.profile %}your-msg{% endif %}">

            <article class="msg-menu {% if msg.author == user.profile %}your-msg-menu{% endif %}">

                <form method="post" action="{% url "chat:delete_msg" msg.pk%}">
                <button type="submit" class="del_button">Delete</button></form>
            </article>

            <article class="msg-content {% if msg.author == user.profile %}your-msg-content{% endif %}
                    ">{{ msg.content }}</article>

            <article class="msg-datetime {% if msg.author == user.profile %}your-msg-dt{% endif %}
                    ">{{ msg.get_datetime }}</article>

        </article>
        {% endfor %}
        <article id="start_page"></article>
    </article>

    <article class="msg-input">
        <form method="post" action="{% url "chat:chat" chat.pk %}">
            {% csrf_token %}
            <label for="content_id"></label>
            <input id="content_id" name="content" type="text" placeholder="Write your message...">
{#                        <button class="msg-button" type="submit">Send</button>#}
        </form>
    </article>
</article>
{% endblock %}