{% extends "chat/_base_messenger.html" %}
{% load static %}

{% block head %}
<title>chat page</title>

<link type="image/x-icon" rel="shortcut icon" href="
        {% static "icons/favicon.ico" %}">

<link rel="stylesheet" href="
        {% static "chat/styles/chat_styles.css" %}">


<link href="https://fonts.googleapis.com/css2?
        family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">
{% endblock %}

{% block container_msg %}

{% if user.profile not in chat.profiles.all %}
    <article class="sorry_contact_title">You don't have access...</article>
{% else %}

<script>
openMenu = function (element) {
    element.firstElementChild.classList.toggle("msg-menu-active");
}



ScrolltoBottom = function(){
    let messages = document.getElementById("messages");
    messages.scrollTop = messages.scrollHeight;
}
window.onload = ScrolltoBottom;
</script>

{# <script> #}
{#setTimeout(function(){#}
{#   window.location.reload(1);#}
{# }, 5000);#}
{# </script>#}

<article class="chat_box">
    <article class="chat_header">
        <a class="back-button" href="{% url "chat:messenger" %}">< Назад</a>
        <a href="{% url "profile:profile" chat.talker.pk %}" class="chat_talker">{{ chat.talker }}</a>
    </article>

    <article id="messages" class="messages">

        {% for msg in chat.message_set.all %}
        <article {% if msg.author == user.profile %}onclick="openMenu(this);"{% endif %}
                 class="msg {% if msg.author == user.profile %}your-msg{% endif %}">

            <article class="msg-menu {% if msg.author == user.profile %}your-msg-menu{% endif %}">

                <form method="post" action="{% url "chat:delete_msg" msg.pk %}">
                <button type="submit" class="del_button">Delete</button></form>
            </article>

            <article class="msg-content {% if msg.author == user.profile %}your-msg-content{% endif %}
                    ">{{ msg.content }}</article>

            <article class="msg-datetime {% if msg.author == user.profile %}your-msg-dt{% endif %}
                    ">{{ msg.get_datetime }}</article>

        </article>
        {% endfor %}

    </article>

    <article class="msg-input">

        <label for="chat-message-input"></label>
        <input id="chat-message-input" name="content" type="text" placeholder="Write your message...">
        <button id="chat-message-submit" style="display: none" class="msg-button" type="submit">Send</button>

    </article>
    {{ user.profile.pk|json_script:"profile_pk" }}
    {{ room_name|json_script:"room-name" }}
</article>

<script> {# channels js #}
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const profilePk = JSON.parse(document.getElementById('profile_pk').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        let author = profilePk === data.profile_pk;
        let yourMsgMenu = "";
        let onclickMenu = "";
        let yourMsg = "";
        let yourMsgContent = "";
        let yourMsgDt = "";
        let delMsgUrl = "/messenger/delmsg/" + data.message_pk + "/";
        if (author){
            yourMsgMenu = "your-msg-menu";
            onclickMenu = "onclick=\"openMenu(this);\"";
            yourMsg = "your-msg";
            yourMsgContent = "your-msg-content";
            yourMsgDt = "your-msg-dt"
        }
        let new_message = "<article " + onclickMenu + "class=\"msg " + yourMsg + "\">\n" +
            "            <article class=\"msg-menu " + yourMsgMenu + "\">\n" +
            "                <form method=\"post\" action=\""+ delMsgUrl +"\">\n" +
            "                <button type=\"submit\" class=\"del_button\">Delete</button></form>\n" +
            "            </article>\n" +
            "            <article class=\"msg-content " + yourMsgContent + "\">" + data.content + "</article>\n" +
            "            <article class=\"msg-datetime " + yourMsgDt + "\">" + data.datetime + "</article>\n" +
            "        </article>"

        document.querySelector('#messages').innerHTML += new_message
        ScrolltoBottom();
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const content = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'content': content,
            'profile_pk': profilePk,
            'room_name': roomName
        }));
        messageInputDom.value = '';
    };
</script>

{% endif %}
{% endblock %}