/*////////////////////// INTRO ///////////////////////*/
.intro{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    /*justify-content: c;*/
    width: 100%;
    height: max-content;
    background: white center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__suptitle{
    margin: 0 auto;
    font-family: 'Kaushan Script', cursive;
    color: black;
    font-size: 50px;
}

.intro__title{
    margin: 0 auto;
    font-family: 'Kaushan Script', cursive;
    font-size: 80px;
    font-weight: 700;
    color: black;

    text-transform: uppercase;

    line-height: 1;
}

.intro__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px auto;

    background-color: red;
}

/*////////////////////// CHAT ///////////////////////*/

.main__container{
    width: 70%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 3fr;
}
/*////////////// NAV MENU ///////////////////*/

.nav_menu {
    display: inherit;
    text-align: center;
    grid-auto-rows: max-content;
    grid-auto-columns: max-content;
}

.nav_menu__item{
    text-decoration: None;
    color: black;
    font-weight: bold;

    border: 1px solid transparent;
    border-radius: 10px;
    margin: 1px 20px;

    padding: 3px;
}

.nav_menu__item:hover{
    color: white;
    background-color: black;
}

/*////////////// MSG ///////////////////*/

.msg_container{
    overflow-y: auto;
    max-height: 80vh;
}

.contact{
    margin: 2px 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 40px;
    text-decoration: None;
    color: black;

    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: start;
}

.contact:hover{
    /*background-color: #1e347b;*/
    background-color: black;
    color: white;
}

.profile__avatar img{
    width: 20px;
    height: 20px;
}

.profile__avatar{
    grid-auto-rows: minmax(10px, max-content);
    display: flex;
    justify-content: center;
    width: max-content;

    border: 2px solid red;
    border-radius: 100%;
    background-color: black;
    padding: 15px;
}

.contact__info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}

.contact_name{
    grid-column: 1/3;
    font-weight: bold;
    font-size: 15px;
}

.last_msg{
    font-size: 13px;
    overflow-x: hidden;
    white-space: nowrap;
}

.last_msg_datetime{
    opacity: .7;
    justify-self: end;
    font-size: 10px;
}

/*///////////////// CHAT //////////////////*/

.chat_box{
    height: 80vh;
    display: grid;
    grid-template-rows: 2fr 13fr 3fr;

}

.chat_header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: black;
    color: white;

    border: 2px solid transparent;
    border-radius: 20px 20px 0 0;
}

.back-button{
    text-decoration: None;
    color: white;
    justify-self: start;
    margin-left: 20px;

    border: 1px solid transparent;
    padding: 5px;
    border-radius: 20px;


    transition: background-color .2s linear;
}

.back-button:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}

.chat_talker{
    font-weight: bold;
    text-decoration: none;
    color: white;

    transition: all .2s linear;
}

.chat_talker:hover{
    font-size: 1.1em;
}
/*messages///////////////////////////////*/
.messages{
    display: grid;
    grid-template-rows: none;
    border: 2px solid black;
    overflow-y: auto;
    /*align-items: end;*/
    /*width: 100%;*/
    /*grid-auto-rows: max-content;*/

    /*align-content: flex-end;*/

}

.msg{
    z-index: 1;
    margin: 3px 10px;
    align-self: end;

    width: max-content;
    max-width: 60vh;
    word-break: break-all;


    transition: background-color .2s linear;
}

.your-msg{
    justify-self: end;
    cursor: pointer;
}

.msg-content{
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 20px 20px 20px 0;

}

.your-msg-content{
    background-color: black;
    color: white;
    border-radius: 20px 20px 0 20px;
}

.msg-datetime{
    font-size: 0.65em;
}

.your-msg-dt{
    text-align: right;
}


.msg-menu{
    z-index: 2;
    position: relative;
    display: none;
    margin-bottom: 1px;
    bottom: -10px;
    width: max-content;
    margin-left: 40px;

    border: solid black;
    background-color: black;
    color: white;
    border-radius: 5px;

    opacity: 0;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: opacity .2s linear;
}

.del_button{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;

}

.del_button:hover{
    color: red;
}

.msg-menu-active{
    display: block;
    opacity: 1;
}

.your-msg-menu{
    margin-left: 0;
    margin-right: 40px;
}
/*///////////msg-input/////////////////////////*/
.msg-input{
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    background-color: black;
    color: white;

    border: 2px solid transparent;
    border-radius: 0 0 20px 20px;
}

#content_id{
    width: 400px;
    height: 50px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
}

/*//////////// CONTACT ////////*/

.contact__info_contact{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.profile__avatar_contact img{
    width: 10px;
    height: 10px;
}

.profile__avatar_contact{
    grid-auto-rows: 10px;
    display: flex;
    justify-content: center;
    width: max-content;

    border: 2px solid red;
    border-radius: 100%;
    background-color: black;
    padding: 10px;
}

.contact_name_contact{
    font-weight: bold;
    margin: auto 0;
}

.contact__info_contact img{
    height: auto;
    width: 1em;
    justify-self: end;
}

.contact__rating{
    font-weight: bold;
}

.contact__rating-box{
    display: grid;
    justify-self: end;
    grid-template-columns: 1fr 1fr;
}

.msg_container_contact{
    max-width: 30em;
}

.contact_button_GoToChat:hover{
    color: red;
}

.sorry_contact_title{
    font-family: "Kaushan Script", sans-serif;
    font-size: 1.5em;
    text-align: center;
}
