/*////////////////////// INTRO ///////////////////////*/
.intro__suptitle{
    margin: 0 auto;
    font-family: 'Kaushan Script', cursive;
    color: black;
    font-size: 50px;
}

.intro__title{
    margin: 0 auto;
    font-family: 'Kaushan Script', cursive;
    font-size: 80px;
    font-weight: 700;
    color: black;

    text-transform: uppercase;

    line-height: 1;
}

.intro__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px auto;

    background-color: red;
}

/*////////////////////// PROFILE ///////////////////////*/

.profile{
    display: flex;
    justify-content: space-between;
    width: max-content;
    margin: 0 auto;
}

.profile__avatar img{
    width: 40px;
    height: 40px;
}

.profile__avatar{
    border: 5px solid transparent;
    border-radius: 100%;
    background-color: black;
    padding: 20px 20px;
}

.profile__name-rating{
    display: grid;
    grid-template-columns: 2fr .5fr 1fr;
}

.profile__rating{
    cursor: pointer;
    align-self: center;
    justify-self: start;

    font-weight: bold;
    font-size: 1em;
}
.profile__name-rating img{
    justify-self: end;
    margin-right: 5px;
    width: auto;
    height: 1.5em;
    align-self: center;
}

.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}

.profile__name{
    font-family: "Kaushan Script", sans-serif;
    margin: 10px 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 15px;

}

.profile__email{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-indent: 10px;
}

.profile__table{
    margin: 20px 0;
    max-width: 400px;

    overflow-x: hidden;
    white-space: nowrap;
}
.profile__table input{
    max-width: 200px;
}

.profile__table table{
    border-spacing: 20px 5px;
}

.profile__table td{
    border: 1px solid transparent;
}

.profile__table_tb1{
    font-weight: bold;
}

.profile__table_tb2{
    margin-left: 10px;

    opacity: .8;
}
.profile__about {
    margin: 15px auto 10px;
    max-width: max-content;
}
#input_about{
    width: 100%;
    height: 15vh;
    border: 2px solid black;
    border-radius: 10px;
}

.profile_present_about_tb1{
    text-align: center;
}
.profile_present_about_tb2{
    max-width: 60vh;
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
}


.profile__buttons{
    display: flex;
    justify-content: space-between;
    width: max-content;
    margin: 20px auto 50px;
}

.profile__button_item{
    text-decoration: None;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;

    margin: 0 5px;
    transition: color .2s linear,
    background-color .2s linear,
    border .2s linear;

    cursor: pointer;
}

.profile__button_item:hover{
    background-color: black;
    border-color: red;
    color: white;
}

.profile__button_start{
    border: 3px solid black;
}

.profile__update{
    display: flex;
    justify-content: center;
}

.main_profile_container{
    width: max-content;
}



/*////////////////////// RATING ///////////////////////*/

.rating {
    margin: 0 0 1em 0;
    padding: 0;
    border: none;
}

/* Caption */

.rating__caption {
    font-size: 1.6em;
    margin-bottom: 0.5em;
    padding: 0;
}

.rating span{
    font-weight: bold;
    text-decoration: underline red;
}

/* Group */

.rating__group {
    margin: 0 auto;
    position: relative;
    width: 10em;
    height: 2em;
    background-image: url("/static/profile/img/off.png");
    background-size: 2em auto;
    background-repeat: repeat-x;
}

.rating__group:focus-within {
    outline: 0.2em solid #4a90e2;
    outline-offset: 0.2em;
}

/* Star */

.rating__star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 2em;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 2em auto;
    background-repeat: repeat-x;
}

.rating__star:focus {
    outline: none;
}

.rating__star:hover,
.rating__star:checked {
    background-image: url("/static/profile/img/on.png");
}

.rating__star:hover ~ .rating__star {
    background-image: url("/static/profile/img/off.png");
}

/* Options */

.rating__star:nth-of-type(1) {
    z-index: 5;
    width: 2em;
}

.rating__star:nth-of-type(2) {
    z-index: 4;
    width: 4em;
}

.rating__star:nth-of-type(3) {
    z-index: 3;
    width: 6em;
}

.rating__star:nth-of-type(4) {
    z-index: 2;
    width: 8em;
}

.rating__star:nth-of-type(5) {
    z-index: 1;
    width: 10em;
}

/*////// FEEDBACKS //////*/

.fdb__title{
    text-transform: uppercase;
    text-align: center;
    font-family: "Kaushan Script", sans-serif;
    font-size: 2em;
    margin: 30px 0;
}

.fdb__title:after{
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: red;
    margin: 10px auto;
}

.fdb__create_button{
    display: block;
    font-weight: bold;
    border: 2px black solid;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;

    margin-bottom: 30px;
}

.fdb__create_button:hover{
    background-color: black;
    color: white;
    border-color: red;
}

/*//////////// FDB INPUT ////////*/

.fdb-input:before{
    content: "";
    display: block;
    width: 550px;
    height: 3px;
    background-color: red;
    margin-bottom: 30px;
}

.fdb-input{
    display: none;
    text-align: center;
}

#content_id{
    width: 70%;
    height: 10vh;
    border: 2px solid black;
    border-radius: 10px;
}

.fdb-input-button{
    position: relative;
    padding: 5px 10px;
    height: 5vh;
    width: 5em;

    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;

    margin-bottom: 20px;
}

.fdb-input-button:hover{
    background-color: black;
    color: white;
    border-color: red;
}

.fdb-input:after{
    content: "";
    display: block;
    width: 550px;
    height: 3px;
    background-color: red;
    margin: 10px auto;
}


/*///////// FDB BOX ///////////*/

.feedbacks_box{
    display: grid;
    justify-items: center;

    max-width: 550px;
    margin: 0 auto;
}

.off{
    display: none;
}

.feedback{
    margin: 2px 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 40px;

    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: start;
    cursor: pointer;
}

.feedback:hover{
    /*background-color: #1e347b;*/
    background-color: black;
    color: white;
}

.feedback:last-child{
    margin-bottom: 30px;
}

.fdb__avatar img{
    width: 20px;
    height: 20px;
}

.fdb__avatar{
    max-height: 55px;
    grid-auto-rows: minmax(10px, max-content);
    display: flex;
    justify-content: center;
    width: max-content;

    border: 2px solid red;
    border-radius: 100%;
    background-color: black;
    padding: 15px;
    margin-right: 10px;
}

.fdb__info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.fdb_author{
    font-weight: bold;
    font-size: 15px;
}

.fdb_rating{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-columns: max-content;
}

.fdb_rating img{
    width: auto;
    height: 1.1em;
    justify-self: end;
}
.fdb_rating_num{
    justify-self: start;
    font-size: 12px;
    font-weight: bold;
    margin-left: 2px;
}

.fdb_content{
    font-size: 13px;
    overflow-x: hidden;
    white-space: nowrap;
}

.fdb_active{
    white-space: normal;

}

.fdb_datetime{
    opacity: .7;
    justify-self: end;
    font-size: 10px;
}

/*///// contact right list ////////*/
.main_profile_container{

}

.profile_sorry_title{
    font-size: .8em;
    text-align: left;
}

.only_to_you_grid{
    display: none;
}

.profile__contact_list{
    font-weight: bold;
    max-height: 165px;
    overflow-y: hidden;
}

.profile__contact_box{
    border: 2px solid black;
    border-radius: 10px;
    margin: 3px 0;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;

    display: grid;
    grid-template-columns: 1fr 2fr;
}
.profile__contact_box:hover{
    color: white;
    background-color: black;
}

.profile__right_contact_avatar{
    background-color: black;
    padding: 5px;
    width: max-content;
    height: 30px;
    border-radius: 100%;
    border: 2px solid transparent;
}
.profile__right_contact_avatar img{
    width: 15px;
    height: 15px;
}


.profile__right_contact_info{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.profile__right_contact_username{
    font-size: .7em;
    font-weight: bold;
}

.profile__right_contact_reason{
    font-size: .7em;
}

.profile__contact_list_title{
    text-decoration: none;
    color:black;
}
.profile__contact_list_title:after{
    content: "";
    display: block;
    background-color: black;
    height: 2px;
    width: 100%;
    margin-bottom: 5px;
}





