{% extends "chat/_base_messenger.html" %}
{% load static %}

{% block head %}
<title>matches</title>

<link type="image/x-icon" rel="shortcut icon" href="
        {% static "icons/favicon.ico" %}">

<link rel="stylesheet" href="
    {% static "chat/styles/chat_styles.css" %}">

<link rel="stylesheet" href="
        {% static "smart/styles/smart_styles.css" %}">

<link href="https://fonts.googleapis.com/css2?
        family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">

{% endblock %}


{% block container_msg %}

<article>
{% block table %}{% endblock %}
</article>

<article class="only_to_you_grid_from_profile"></article>

{% endblock %}