{% extends "smart/_base_smart.html" %}

{% block table %}
<article class="match__table">
    <table>
        {% for object in object_list %}
        <tr>
            <td>
                <a href="{% url "profile:profile" object.first_match.provider.pk %}" class="match__username_item">{{ object.first_match.provider }}</a>
                 and
                <a href="{% url "profile:profile" object.first_match.needer.pk %}" class="match__username_item">{{ object.first_match.needer }}</a>
                 have a contact
            </td>
            <td class="match__created_at">{{ object.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
</article>
{% endblock %}
