{% extends "smart/_base_smart.html" %}

{% block table %}
<article class="match__table">
    <table>
        {% for object in object_list %}
        <tr>
            <td>
                <a href="{% url "profile:profile" object.provider.pk %}" class="match__username_item">{{ object.provider }}</a> can help
                <a href="{% url "profile:profile" object.needer.pk %}" class="match__username_item">{{ object.needer }}</a>
            </td>
            <td class="match__reason">{{ object.reason }}</td>
            <td class="match__created_at">{{ object.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
</article>
{% endblock %}
